<!DOCTYPE html>
<html>
<head>
	<title>Edit user</title>
</head>
	<a href="contacts">All my contacts >></a>
	<br />
	<a href="logout">Logout >></a>
<body>
	<h1>Edit:</h1>
	<form action="edit-user" method="post">
		<label for="email">New email:</label>
		<input type="text" name="newEmail" /><br>
		<label for="password">New password:</label>
		<input type="password" name="newPassword" /><br>
		<input type="submit" value="edit" />
	</form>
</body>
</html>