<!DOCTYPE html>
<html>
<head>
	<title>Forgotten password</title>
</head>
<a href="/">Login >></a>
<br />
<a href="register">Create a new user >></a>
<body>
	<h1>Enter your email:</h1>
	<form action="new-password" method="post">
		<label for="email">Email:</label>
		<input type="text" name="userEmail" /><br>
		<input type="submit" value="send" />
	</form>
</body>
</html>
